<ion-content fullscreen padding scroll-y="false">
<ion-slides>
  <ion-slide>
    <img src="../../../../assets/icon/logo3.png"/>
    <h1>Welcome to Journey Ride Passengers</h1>
    <h5>The <b>Journey Ride</b> is a safest way to travel.</h5>
    <h6>Get started right away</h6>
    <ion-button routerLink="/journey" expand="default" color="primary">Create journey</ion-button>
    <ion-button expand="default" color="primary" (click)="logout()">LOGOUT</ion-button>
  </ion-slide>
</ion-slides>
</ion-content>