.swiper-slide {
    display: block;
  }

ion-slide img {
  padding-top: 10%;
  max-height: 60%;
  max-width: 60%;
  margin: 40px 0;

}

ion-slide h1, p, ion-button {
   text-align: center;
   font-weight: bolder;
   text-decoration: solid !important;
   text-shadow: 1.5em;
}

ion-button {
  color: black !important;
}
.map {
  display: block !important;
  width: 50%;
  height: 50%;
}
