<ion-content fullscreen padding scroll-y="false">
<ion-slides>
  <ion-slide>
    <img alt="LOGO" src="../../assets/logo1.jpg"/>
    <h4>Welcome to JourneyRide-Passenger</h4>
    <h5>Slide to Login </h5>
    <ion-button expand="block" [routerLink]="['/auth/register']" color="medium" shape="round">Sign Up</ion-button>
  </ion-slide>

   <ion-slide>
   <ion-grid class="loggin">
   <form class="form" [formGroup]="credentialsForm"  (ngSubmit)="loginUser(credentialsForm.value)">
    <ion-row padding>
      <ion-input type="text" formControlName="username" placeholder="Email"></ion-input>
    </ion-row>
    <ion-row>
      <div class="error-message">    
        <ng-container *ngFor="let validation of validationMessages.username">
          <p class="error-message" *ngIf="credentialsForm.get('username').hasError(validation.type) && (credentialsForm.get('username').dirty || credentialsForm.get('username').touched)">
            {{ validation.message }}
          </p>
        </ng-container>
      </div>
    </ion-row>

    <ion-row padding>
      <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
    </ion-row>
    <ion-row>
      <div class="error-message">
        <ng-container *ngFor="let validation of validationMessages.password">
          <p class="error-message" *ngIf="credentialsForm.get('password').hasError(validation.type) && (credentialsForm.get('password').dirty || credentialsForm.get('password').touched)">
            {{ validation.message }}
          </p>
        </ng-container>
      </div>
    </ion-row>

      <ion-button expand="block" type="submit" color="medium" shape="round">Log In</ion-button>
  </form>
    <ion-row>
   </ion-row>
   </ion-grid>
  </ion-slide>

</ion-slides>
</ion-content>