<ion-content fullscreen padding scroll-y="false">
<ion-slides>
  <ion-slide>
    <img alt="LOGO" src="../../assets/logo1.jpg"/>
    <h4>Welcome to Journey-Ride</h4>
    <ion-button color="medium" shape="round">As A Passenger</ion-button>
  </ion-slide>

   <ion-slide>
   <ion-grid>
    <ion-row>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
          <h4>Welcome to Journey-Rider</h4>
          <ion-button expand="block" color="medium" shape="round">Log In</ion-button>
          <ion-button expand="block" [routerLink]="['/auth/register']" color="medium" shape="round">Sign Up</ion-button>
        </div>
      </ion-col>
    </ion-row>
   </ion-grid>
  </ion-slide>

   <ion-slide>
   <ion-grid>
    <ion-row>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <ion-input type="text" placeholder="Email"></ion-input>
        <ion-input type="text" placeholder="Password"></ion-input>
        <ion-button expand="block" color="medium" shape="round" (click)="loggin()">Log In</ion-button>
        <ion-button expand="block" color="danger" shape="round">Log In with Google</ion-button>   
      </ion-col>
    </ion-row>
   </ion-grid>
  </ion-slide>

</ion-slides>
</ion-content>