
form {
    padding-block: 20px;
    padding-top: 25%;
}

ion-input{
    border-radius: 3em !important;
    border-color: #1a1919 !important;
    background: #f5eeed;
}

.login-btn {
  align-content: center;
}

  .logo {
    width: 80px;
    height: 80px;
    margin: 20px auto 0;
    border-radius: 10%;
   // background: url("../../../assets/img/ionic3-ico.png") no-repeat;
    background-size: 100%;
  }

  .swiper-slide {
    display: block;
  }