<ion-content padding>
  <form class="form" [formGroup]="validationsForm"  (ngSubmit)="tryRegister(validationsForm.value)">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
            <h3>Register</h3>
        </div>
        <div padding>
        <ion-input type="text" placeholder="First Name"></ion-input>
        <ion-input type="text" placeholder="Last Name"></ion-input>
        <ion-input type="text" placeholder="NIC"></ion-input>
        <ion-input type="text" placeholder="Email"></ion-input>
        <ion-input type="text" placeholder="Contact Number"></ion-input>
        <ion-input type="text" placeholder="Password"></ion-input>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
 </form>
  
</ion-content>