<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title text-center></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <form class="form" [formGroup]="feedbackForm" (ngSubmit)="sendFeedback(feedbackForm.value)"> 
  <ion-row>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
    </ion-col>
    <ion-col>
      <ion-textarea formControlName="feedback" placeholder="Feedback"></ion-textarea>
    </ion-col>
  </ion-row>
  
  <ion-button shape="round" type="submit" expand="block" color="medium">Trip Finished</ion-button>
  </form>
</ion-grid>

</ion-content>

