<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Owners Notifications</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen padding scroll-y="true">
  <h4>Available Trip Offers</h4>
  
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <p>Press to load Trip Data</p>
    <ion-fab-button (click)="load_data()">
      <ion-icon name="sync"></ion-icon>
    </ion-fab-button>
  </ion-fab>

      <ion-card *ngFor="let bid of bidDetails" (click)="presentModal(bid.ts_id)">
      <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p><b>Company Name: {{ bid.company_name }}</b></p>
            <p><b>Area: {{ bid.area }}</b></p>
            <h4><b>Rs:{{ bid.budget }}</b></h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    </ion-card>

    
    <div class="empty_case" *ngIf="result_is_empty"> 
      <p>Drivers might on the Trips at this moment</p> 
      <p> Please try again !</p>
    </div>
      
 
</ion-content>
