<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Drivers Notifications</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen padding scroll-y="true">
  <h4>Available Drivers</h4>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="load_data()">
      <ion-icon name="sync"></ion-icon>
    </ion-fab-button>
  </ion-fab>

      <ion-card *ngFor="let bid of bidDetails" (click)="presentModal(bid.ts_id)">
      <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p><b>Company Name: {{ bid.company_name }}</b></p>
            <p><b>Area: {{ bid.area }}</b></p>
            <h4><b>Rs:{{ bid.budget }}</b></h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    </ion-card>
 
</ion-content>
