<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Create a Plan</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen padding scrolY="true">

  <form class="form" [formGroup]="journeyplanForm" (ngSubmit)="presentAlertConfirm(journeyplanForm.value)"> 
        <ion-grid>
          <ion-row >
            <ion-col>
                <h6>Start Location:</h6>
                <ion-input type="text" placeholder="Start Location" formControlName="start_location"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row >
            <ion-col>
                <h6>Destination:</h6>
                <ion-input type="text" formControlName="destination" placeholder="Destination"></ion-input>
            </ion-col>
          </ion-row>
      
          <ion-row >
            <ion-col>
                <h6>Number of Passenger:</h6>
                <ion-input type="number" placeholder="Number of Passenger" formControlName="no_of_passengers"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
                <h6>Pickup Time</h6>
                <ion-datetime placeholder="PickUp Time"  display-format="h:mm A" picker-format="h:mm A" formControlName="pickup_time"></ion-datetime>
            </ion-col>
          </ion-row>

          <ion-row>
          <ion-col>
              <h6>From :</h6>
              <ion-datetime formControlName="date_from" value="2012-12-15"></ion-datetime>
          </ion-col>
        </ion-row>

        <ion-row >
          <ion-col>
              <h6>To :</h6>
              <ion-datetime formControlName="date_to" value="2012-12-15" placeholder="To"></ion-datetime>
          </ion-col>
        </ion-row>

        <ion-row >
            <ion-col>
                <h6>Waypoint :</h6>
                <ion-input formControlName="waypoint" placeholder="Waypoint"></ion-input>
            </ion-col>
        </ion-row>

          <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item>
                    <ion-label>Vehicle Type</ion-label>
                      <ion-select okText="Okay" cancelText="Dismiss" formControlName="vehicle_type">
                        <ion-select-option value="van" checked>Van</ion-select-option>
                        <ion-select-option value="car">Car</ion-select-option>
                        <ion-select-option value="bus">Bus</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>AC :</ion-label>
                <ion-toggle slot="end" formControlName="ac_condition" color="medium" checked></ion-toggle>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-row>
          <ion-col>
              <h6>Description</h6>
              <ion-textarea formControlName="trip_description" placeholder="Description"></ion-textarea>
            </ion-col>
          </ion-row>

      <ion-button expand="block" color="medium" shape="round" type="submit">Apply Journey</ion-button>
  </form>
</ion-content>
