
<ion-content scroll-y="true">
  <ion-tabs>
  <ion-tab-bar slot="bottom" color="dark">
    
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
      
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
      
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="car"></ion-icon>
      <ion-label>Driver</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
</ion-content>